@font-face {
    font-family: 'Helvetica Light';
    src: url('/fonts/Helvetica Light Regular.otf') format('opentype');
    font-style: normal;
}

body {
    font-family: "Helvetica Light", sans-serif;
    background-image: linear-gradient(#00397b, #0065c1);
    text-align: center;
}

.container {
    display: flex;
    /* max-width: 400px; */
    align-items: center;
    justify-content: center;
    color: aliceblue;
    height: 90vh;
    /* margin:  auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

#temperature {
    font-size: 20em;
    margin-top: 0px;
    margin-bottom: 30px;

}

h2 {
    font-size: 2em;
}

p {
    font-size: 2.75em;
    margin-bottom: 10px;
}

#weather-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#weather-icon {
    width: 256px;
    height: 256px;
    object-fit: contain;
    margin-right: 50px;
}

#weather {
    margin-right: 20px;
    font-size: 52px;
}